* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con {
  width: 100%;
  height: 100vh;
}

.quiz_time span {
  background-color: #0d6efd;
  color: white;
  padding: 0.2rem 0.4rem;
}

.main_con {
  height: 500px;
  border-radius: 20px;
  /* display: none; */
}

.hideCon {
  display: none;
}

.Score_con {
  height: 500px;
  border-radius: 20px;

  /* display: none; */
}

.Score_con.hideScore {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.opt:hover {
  background-color: gray;
  cursor: pointer;
}

.opt.selectCl {
  opacity: 0.5;
  pointer-events: none;
}
